@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ibanity .NET sample</h1>
    <p>Demo web site for <a href="https://github.com/ibanity/ibanity-dotnet">Ibanity .NET client library</a>.</p>
</div>
